@font-face {
    font-family: 'Museo Sans Cyrl 500';
    src: url('font/MuseoSansCyrl-500.woff2') format('woff2'),
        url('font/MuseoSansCyrl-500.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans Cyrl 700';
    src: url('font/MuseoSansCyrl-700.woff2') format('woff2'),
        url('font/MuseoSansCyrl-700.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans Cyrl 100';
    src: url('font/MuseoSansCyrl-100.woff2') format('woff2'),
        url('font/MuseoSansCyrl-100.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans Cyrl 300';
    src: url('font/MuseoSansCyrl-300Italic.woff2') format('woff2'),
        url('font/MuseoSansCyrl-300Italic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Museo Sans Cyrl 900';
    src: url('font/MuseoSansCyrl-900Italic.woff2') format('woff2'),
        url('font/MuseoSansCyrl-900Italic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Museo Sans Cyrl 700';
    src: url('font/MuseoSansCyrl-700Italic.woff2') format('woff2'),
        url('font/MuseoSansCyrl-700Italic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Museo Sans Cyrl 300';
    src: url('font/MuseoSansCyrl-300.woff2') format('woff2'),
        url('font/MuseoSansCyrl-300.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans Cyrl 500';
    src: url('font/MuseoSansCyrl-500Italic.woff2') format('woff2'),
        url('font/MuseoSansCyrl-500Italic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Museo Sans Cyrl 100';
    src: url('font/MuseoSansCyrl-100Italic.woff2') format('woff2'),
        url('font/MuseoSansCyrl-100Italic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Museo Sans Cyrl 900';
    src: url('font/MuseoSansCyrl-900.woff2') format('woff2'),
        url('font/MuseoSansCyrl-900.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans Cyrl 500';
    src: url('font/MuseoSansCyrl-500.woff2') format('woff2'),
        url('font/MuseoSansCyrl-500.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans Cyrl 500';
    src: url('font/MuseoSansCyrl-500Italic.woff2') format('woff2'),
        url('font/MuseoSansCyrl-500Italic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Museo Sans Cyrl 300';
    src: url('font/MuseoSansCyrl-300Italic.woff2') format('woff2'),
        url('font/MuseoSansCyrl-300Italic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Museo Sans Cyrl 900';
    src: url('font/MuseoSansCyrl-900.woff2') format('woff2'),
        url('font/MuseoSansCyrl-900.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans Cyrl 700';
    src: url('font/MuseoSansCyrl-700Italic.woff2') format('woff2'),
        url('font/MuseoSansCyrl-700Italic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Museo Sans Cyrl 900';
    src: url('font/MuseoSansCyrl-900Italic.woff2') format('woff2'),
        url('font/MuseoSansCyrl-900Italic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Museo Sans Cyrl 700';
    src: url('font/MuseoSansCyrl-700.woff2') format('woff2'),
        url('font/MuseoSansCyrl-700.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans Cyrl 100';
    src: url('font/MuseoSansCyrl-100.woff2') format('woff2'),
        url('font/MuseoSansCyrl-100.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans Cyrl 300';
    src: url('font/MuseoSansCyrl-300.woff2') format('woff2'),
        url('font/MuseoSansCyrl-300.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans Cyrl 100';
    src: url('font/MuseoSansCyrl-100Italic.woff2') format('woff2'),
        url('font/MuseoSansCyrl-100Italic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

